.error{
    color:red;
}

.success{
    color:red;
}

.form-group{
    width: 300px;
}

#selectProject, #selectIssueType,#inputSummary,#selectAssignee, #selectPriority, #selectSeverity, #areaDescription, #selectErrorType{
    width: 600px;
}

.modal-context, .modal-dialog, .modal-body{
    width: 800px;
}

#slider {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
    border-radius: 4px;
    width: 100%;
    height: auto;
}

#slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    list-style: none;
}

#slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 1100px;
    height: auto;
    line-height: 300px;
}

a.control_prev, a.control_next {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    width: 20px;
    height: 15px;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    opacity: 0.8;
    cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
}

a.control_prev {
    border-radius: 0 2px 2px 0;
}

a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
}

#listIssues{
    width: 1000px;
    text-align: center;
}
